/* ====================================================== */
/* ======================= TOP BAR ====================== */
/* ====================================================== */

#top-bar {
    /* Size */
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    /* Position children */
    display: flex;
    padding: 12px 80px;
    align-items: center;
    justify-content: space-between;
    /* Style */
    background-color: white;
    font-size: 20px;
}

#nav-main {
    /* Position children */
    display: flex;
    padding: 8px 16px;
    gap: 40px;
}

/* ====================================================== */
/* ==================== HERO SECTION ==================== */
/* ====================================================== */

#hero {
    /* Size */
    width: 100vw;
    height: 600px;
    box-sizing: border-box;
    /* Style */
    background-color: #ff4911;
    /* Position children */
    display: flex;
    padding: 0 0 0 20px;
    align-items: center;
    justify-content: space-evenly;
}

#hero-desc {
    /* Overlap with element to the right */
    z-index: 1;
}
#hero-desc > h2 {
    /* Size */
    font-size: 50px;
    margin: 10px 0;
}
#hero-desc > p {
    /* Size */
    font-size: 30px;
    margin: 0 0 30px 0;
}

#hero-button {
    /* Size */
    width: 180px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    /* Style */
    border-radius: 8px;
    background-color: #69d2e7;
    box-shadow: 0 0 8px black;
}

#hero-img {
    /* Size */
    width: 600px;
    height: 100%;
    /* Style */
    background-color: #ff4911;
    box-shadow: inset 0 0 20px 40px #ff4911;
    /* Overlap with element to the left */
    margin-left: -80px;
}

/* ====================================================== */
/* ==================== INFO SECTION ==================== */
/* ====================================================== */

#info {
    /* Size */
    width: 100vw;
    padding-bottom: 40px;
    /* Style */
    background: #f8d6b3;
    /* Position children */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#info > h2 {
    /* Magic number to fit on one line */
    font-size: 5vw;
}

#info-cards {
    /* Size */
    width: 80%;
    height: 80%;
    /* Position children */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

.card {
    /* Size */
    width: 200px;
    height: 200px;
    /* Position children */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card > img {
    /* Size */
    width: 80%;
    height: 60%;
}
.card > h4 {
    /* Size */
    font-size: 18px;
    margin: 0;
}
.card > p {
    /* Size */
    font-size: 12px;
    margin: 0;
}

/* ====================================================== */
/* ================= CONTACT SECTION ==================== */
/* ====================================================== */

#contact_wrapper {
    /* Size */
    width: 100vw;
    height: 600px;
    box-sizing: border-box;

    /* Style */
    background-color: #ff4911;

    /* Position children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
}

#contact_form {
    padding: 12px;
    border-radius: 5px;
    background-color: #78260d;
}

.contact_inputwrapper {
    margin-bottom: 15px;
}

.contact_inputwrapper > textarea,
.contact_inputwrapper > input {
    width: 500px;
    margin-top: 5px;
}

.contact_inputwrapper > textarea {
    resize: vertical;
}

#contact_buttonswrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#contact_buttonswrapper > button {
    margin-right: 8.5px;
    padding: 5px 16px 5px 16px;

    font-size: 18px;
    outline: none;
    cursor: pointer;

    transition: 0.2s ease-in-out;
    border: 1px solid black;
    border-radius: 3.5px;
}

#contact_submitbutton {
    background-color: green;
}

#contact_submitbutton:hover {
    background-color: rgb(31, 205, 31);
}

#contact_resetbutton {
    background-color: red;
    color: white;
}

#contact_resetbutton:hover {
    background-color: rgb(161, 2, 2);
}

/* ====================================================== */
/* ===================== MENU BANNER ==================== */
/* ====================================================== */

/* Menu Banner Wrapper */
#menu-banner {
    width: 100vw;
    height: 100px;
    box-shadow: 0 0 48px rgba(0, 0, 0, 0.6);
}

/* Menu Banner Contents */
#menu-banner-fore,
#menu-banner-bg {
    position: absolute;
    width: 100vw;
    height: 100px;
}

#menu-banner-fore {
    /* Postion children */
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-banner-bg {
    /* Background */
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.2) 50%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        url("../images/menu-banner.jpg");
    background-position: 0% -50%;
    filter: contrast(50%) brightness(80%);
}

#menu-title {
    /* Size */
    font-size: 60px;
    padding: 15px 40px;
    /* Style */
    color: #e3dff2;
    font-variant: small-caps;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 400px 400px rgba(0, 0, 0, 0.2);
}

/* ====================================================== */
/* ======================== MENU ======================== */
/* ====================================================== */

/* Menu Wrapper */
#menu-wrapper {
    /* Size */
    width: 100vw;
    height: 800px;
}

/* Menu Banner Contents */
#menu-fore,
#menu-bg {
    position: absolute;
    width: 100vw;
    height: 800px;
}

#menu-fore {
    /* Position children */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

#menu-bg {
    background-image: url("../images/menu-texture.jpg");
    filter: grayscale(90%) contrast(10%) brightness(140%);
}

#menu th,
#menu td {
    border: 2px solid black;
    padding: 10px;
}

.menu-img {
    width: 128px;
    height: 128px;
}

/* ====================================================== */
/* ======================= FOOTER ======================= */
/* ====================================================== */

#footer {
    width: 100vw;
    height: 50px;
    background-color: #ff4911;
}

/* ====================================================== */
/* ==================== MEDIA QUERIES =================== */
/* ====================================================== */

/* Make fonts and images smaller on smaller screens */
@media (max-width: 800px) {
    #hero-desc > h2 {
        font-size: 38px;
        margin: 15px 0;
    }
    #hero-desc > p {
        font-size: 20px;
    }
    #hero-img {
        width: 400px;
        margin-left: -40px;
    }
    #hero-button {
        font-size: 10px;
    }
    #top-bar {
        font-size: 12px;
        padding: 4px 20px;
    }
}
